* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCF0C8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

btn {
  background-color: #FCF0C8;
  color: btn maroon;
}
.contact {
  height: 1px;
}
.contact__hero {
  background-image: url("../../../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}
.contact__hero h1 {
  color: maroon;
  font-size: 4rem;
  text-align: right;
}
.contact__hero__ul {
  padding: 7em;
  margin: 10em;
}
.contact__hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact__hero__container > div {
  flex: 1;
}
.contact__hero__container form {
  flex: 1;
}
.contact__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact__details > div {
  flex: 1;
}
.contact__contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact__form {
  padding: 3em;
}
.contact__map {
  width: 100vw;
  height: 40vh;
}

input[type=text],
input[type=email],
textarea {
  padding: 1em;
  margin-top: 3em;
  width: 50%;
}

.btn {
  padding: 2em;
  margin: 1rem;
}

.ul {
  padding: 2em;
  margin: 3em;
}

  gap: 2em;
}
.nav__right ul li {
  cursor: pointer;
  padding: 1em;
}
.nav__right ul li:hover:not(:last-child) {
  background-color: #911f27;
}
.nav__right ul li:hover:not(:last-child) a {
  color: #fcf0c8;
}
.nav__right ul li a {
  color: #000;
}
.nav__right ul li i {
  color: white;
}
.nav .btn {
  background-color: #911f27;
  border: none;
  padding: 1em;
  border-radius: 50px;
}
.nav .btn a {
  color: #fcf0c8;
}

.hero {
  padding-top: 2em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url(../../../images/3\ Rules\ for\ Setting\ the\ Perfect\ Dinner\ Table\,\ According\ to\ an\ Etiquette\ Expert.jpeg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero h3 {
  text-align: center;
  color: #FCF0C8;
  border-bottom: 2px 2px 5px solid #911F27;
  margin: 2em 2em;
  padding-top: 8em;
}
.hero p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #FCF0C8;
  padding: 1em 0;
  line-height: 2em;
  font-size: large;
}
.hero h2 {
  text-align: center;
  color: white;
}
.hero button {
  display: block;
  margin: 0 auto;
  padding: 2em;
  background-color: brown;
  color: white;
  border-radius: 50px;
  border: none;
}

.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.menu__container h1 {
  color: maroon;
  font-size: 4rem;
  text-align: right;
}
.menu__container__center {
  width: 88%;
  margin: 0 auto;
}
.menu__breakfast, .menu__lunch, .menu__dinner {
  margin-bottom: 3em;
}
.menu__breakfast h2, .menu__lunch h2, .menu__dinner h2 {
  text-align: center;
  margin-bottom: 0.7em;
}
.menu__breakfast__container, .menu__lunch__container, .menu__dinner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
}
.menu__breakfast__container img, .menu__lunch__container img, .menu__dinner__container img {
  width: 300px;
  height: 200px;
}
.menu__food {
  background-color: white;
}
.menu__food__name, .menu__food__price {
  flex: 1;
}
.menu__food__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.showcase h3 {
  text-align: center;
  border-radius: 50px;
  padding-left: 2em 2em;

}