* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCF0C8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.contact__hero {
  background-image: url("../../../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
}
.contact__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact__details > div {
  flex: 1;
}
.contact__contact-us {

.nav {
  background-color: #FCF0C8;
  padding: 2em 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__container ul {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact__form {
  padding: 3em;
}
.contact__map {
  width: 100vw;
  height: 40vh;
}

input[type=text],
input[type=email],
textarea {
  padding: 1em;
  margin-top: 3em;
  width: 50%;
}

.btn {
  padding: 2em;
  margin: 1rem;
}

.ul {
  padding: 2em;
  margin: 3em;

  gap: 2em;
}
.nav__container ul li {
  cursor: pointer;
}
.nav__container ul a {
  color: #000;
}
.nav__container ul__btn {
  padding: 1em;
  background-color: #911F27;
}

.hero {
  background-image: url(../../../images/3\ Rules\ for\ Setting\ the\ Perfect\ Dinner\ Table\,\ According\ to\ an\ Etiquette\ Expert.jpeg);
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero h3 {
  text-align: center;
  color: #FCF0C8;
  padding-top: 2em;
}
.hero p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: #FCF0C8;
  padding: 10em 0;
}

.showcase h2 {
  text-align: center;
  padding: 2em;
}
.showcase__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.showcase h3 {
  text-align: center;
  border-radius: 50px;
  padding-left: 2em 2em;

}