@use "../../utilities/mixins" as *;
.contact {
  &__hero {
    background-image: url("../../../images/contact.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
  }
  &__details{
    @include flex(center,center);

    
    >div{
        flex: 1;
    }
  }
  &__contact-us {
    @include flex(space-between, center);
  }
  &__form {
    padding: 3em;
  }

  &__map {
    width: 100vw;
    height: 40vh;
  }
}
input[type="text"],
input[type="email"],
textarea {
  padding: 1em;
  margin-top: 3em;
  width: 50%;
}

.btn {
  padding: 2em;
  margin: 1rem;
}
.ul{
    padding: 2em;
    margin: 3em;
}
