@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.contact {
  &__hero {
    background-image: url("../../../images/contact.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    h1{
      color: maroon;
      font-size: 4rem;
      text-align: right;
    }
    p{
      font-size: 2rem;
      text-align: right;
    }
    &__ul{
      padding: 7em;
      margin:10em;
    }
    &__container{
      @include flex(center, center);
      &>div{
        flex: 1;
      }
      form{
        flex: 1;
      }
    }
  }

  
  height: 1px;
  &__details{
    @include flex(center,center);

    
    >div{
        flex: 1;
    }
  }
  &__contact-us {
    @include flex(space-between, center);
  }
  &__form {
    padding: 3em;
  }

  &__map {
    width: 100vw;
    height: 40vh;
  }
  
}
input[type="text"],
input[type="email"],
textarea {
  padding: 1em;
  margin-top: 3em;
  width: 50%;
}

.btn {
  padding: 2em;
  margin: 1rem;
}
.ul{
    padding: 2em;
    margin: 3em;

    
}
button{

  background-color: $maroon;
  padding: .8em 1em;
  border: none;
  color: $cream;
  cursor: pointer;
}