@use "../../utilities/mixins" as *;
@use "../../../utilities/variables" as *;
@use "../../../utilities/variables" as *;

.nav {
  // background-color: $cream;
  &__container {
    @include flex(space-between, center);

    ul {
      @include flex(space-between, center);

      li {
        cursor: pointer;
        padding: 0 1em;

        a {
          color: $black;
        }
        btn{
          background-color: $maroon;
        }
      }
      
        
        
      
      }
    }

    &__right{
      ul{
        margin: 2em;
      }
    }
  }

